<section>
    <header>
        <h1>Palindrome Checker</h1>
        <title>Palindrome Checker</title>
    </header>
    <div class="mainBody">
        <div id="err" class="error" hidden></div>
        <br>
        <div>
            
            <form action="/" method="post" id="phraseForm" class="formBody">
                <div id="phraseDiv">
                    <label id="phraseName" name="phraseName">Enter the text:</label>
                    <textarea name="phrase" id="phrase" placeholder="Eg. Madam"></textarea>
                </div>
                <br/>    
                <div>
                    <input type="submit" value="Check" id="palinCheck"></input>
                </div>
            </form>
        </div>
        <br/>
        <ol id="attempts" hidden></ol>
        <script src="tota11y.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="/public/js/script.js"></script>
    </div>
    <footer>
        <h4>Bapiraju Vinnakota - 10475202</h4>
        <br/>
        <h5></h5>
    </footer>
</section>