<section class="hbsBody">
    <h1>Characters Found</h1>
    <div id="parentDiv">
        <div><h2>{{searchTerm}}</h2></div>
        <div><a href="/" class="anch">Find Another</a></div>
    </div>
    
    <main>
        
        {{#each characters}}
            <ul class="content">
                <li>
                    <a href="/characters/{{id}}">{{name}}</a>
                </li>
            </ul>
        {{/each}}
    </main>
</section>